################################################################################
#	Django local environment variable configuration. If any errors occur due to env #   vars, this is where it'll need to be fixed.
#	Git will not track local.env as it contains confidential
#   information. So store a backup of this file outside of your repo to keep it (&
#	the key) safe!
#
# NOTE: No spaces around '=' sign and no quotes for righthand values.
################################################################################

DEBUG=True
# syntax: DATABASE_URL=postgres://username:password@127.0.0.1:5432/db.type
DATABASE_URL=mysql://djangoadmin:xxxx@127.0.0.1:3306/db.mysql
# Command to create a new secret key:
# $ python -c 'import random; import string; print("".join([random.SystemRandom().choice(string.digits + string.ascii_letters + string.punctuation) for i in range(100)]))'

SECRET_KEY={{ secret_key }}
